.discovered {
/*The utility of this class 
  comes in to play in jQuery*/
}

.clock {
  font-family: monospace;
}

input {
  width: 100em;
  visibility: hidden;
}

header {
  text-align: center;
  color: #FFFFFF;
  font-family: Georgia;
}

h1 {
  background-color: black;
}

h3 {
  visibility: hidden;
}

.done {
  visibility: hidden;
}

