.discovered {
/*The utility of this class 
  comes in to play in jQuery*/
  opacity: .5;
}

.clock {
  font-family: monospace;
}

body {
  text-align: center;
}

input {
  width: 100em;
  margin: 0 auto;
  display: none;
}

header {
  text-align: center;
  color: #FFFFFF;
  font-family: Georgia;
}

h1 {
  /*background-color: black;*/
  background-color: rgba(0,0,0,0);
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000;
  font-size: 3em;
  margin-bottom: 0;
}

h3 {
  visibility: hidden;
  background-color: rgba(0,0,0,0);
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000;
}

h2 {
  font-size: 3em;
  background-color: rgba(0,0,0,0);
  text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, -1px 1px 0 #000000, 1px -1px 0 #000000;
}

.winner {

}

.done {
  display: none;
}

.game-container {
 text-align: center;
}

.stats-container {
  display: inline-block;
  margin-top: 0;
}

.time, .click, .efficient {
  float: left;
  margin: 3em;
}

